.imageListHeader {
  font-size: 35px;
  text-align: left;
  margin: 30px 0px;
  width: 40%
}
.header {
  display: flex;
  margin-right: -5px;
}
.searchContainer {
  margin: auto 20px;
  width: 100%;
  display: flex;
}
.searchInput {
  height: 30px;
  width: 80%;
  font-size: 15px;
  padding: 2px 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 1px solid #4A4A4A;
}
.searchButton {
  height: 36px;
  padding: 2px 20px;
  background: rgb(58, 97, 202);
  color: #fff;
  border: none;
  font-size: 15px;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 20%;
}

.imageListContainer {
  padding: 10px;
}
.imageList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-evenly;
}
.imageCard {
  margin: 0px;
  position: relative;
  flex-grow: 4;
  display: inline-block;
  height: 280px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.25s ease;
}
.imageCard:hover {
  transform: scale(1.15);
  transition: 0.25s ease;
  z-index: 3;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  resize: both;
}
.titleBg {
  position: absolute;
  z-index: 2;
  height: 20%;
  width: 100%;
  top: 80%;
  background: rgba(0, 0, 0, 0.7);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.imageTitle {
  font-size: 15px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  padding: 5px;
}
.loadMore {
  color: rgb(71, 123, 236);
  width: 100%;
  border: none;
  padding: 20px 5px;
  font-size: 20px;
  text-align: center;
  background: #fff;
  font-weight: 600;
  margin: 30px 0px 50px 0px;
  cursor: pointer;
}
.loadMore:hover {
  background: rgb(71, 123, 236);
  color: #fff;
}
.loadMore:active {
  background: rgb(86, 138, 250);
}

.refreshButton {
  color: rgb(71, 123, 236);
  width: 100%;
  max-width: 200px;
  border: 1px solid rgb(71, 123, 236);
  border-radius: 10px;
  padding: 12px 5px;
  font-size: 18px;
  text-align: center;
  background: #fff;
  font-weight: 600;
  margin: 30px 0px 50px 0px;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 50%;
}
.refreshButton:hover {
  background: rgb(71, 123, 236);
  color: #fff;
}
.refreshButton:active {
  background: rgb(86, 138, 250);
}

.author {
  background: transparent;
  color: #fff;
  font-weight: 600;
  padding: 5px 5px 0px 5px;
}

/* mobile screens */
@media screen and (max-width: 768px) {
  .imageCard {
    width: 100%;
  }
  .searchInput {
    width: 60%;
  }
  .header {
    flex-direction: column;
  }
  .imageListHeader {
    width: 100%;
  }
  .searchContainer {
    margin: 0px 0px 10px 0px;
  }
  .searchButton {
    width: 40%;
  }
}