.imageFocusContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(0,0,0,0.9);
  width: 100vw;
  height: 100%;
  z-index: 10;
  overflow: hidden;
}
.infoContainer {
  display: flex;
  height: 100%;
}
.leftContainer {
  width: 60%;
  padding: 20px;
}
.rightContainer{
  width: 40%;
  padding: 20px;
}

.imageContainer {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.imageTitle {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.imageAuthor {
  font-size: 36px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
}

.awardsContainer {
  margin: 20px 0px 25px 0px;
}
.awardIcon {
  position: relative;
  top: 3px;
  margin: 0px 5px;
  height: 30px;
}
.awardCount {
  position: relative;
  background: rgba(255,255,255, 0.8);
  color: #4A4A4A;
  font-weight: 600;
  font-size: 12px;
  height: 15px;
  min-width: 15px;
  border-radius: 50px;
  padding: 1px;
  text-align: center;
  display: inline-block;
  z-index: 2;
  margin-left: -15px;
}
.awardsTitle {
  font-size: 20px;
  margin-right: 20px;
  color: #fff;
}

.imageCategories {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 10px;
}

.votesContainer {
  margin-top: 50px;
}
.votes {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  top: -10px;
  left: 15px;
}
.thumbs {
  width: 25px;
  height: 25px;
  background: #fff;
  border-radius: 50px;
  padding: 10px;
}
.thumbsDown {
  margin-top: 15px;
  transform: rotate(180deg);
}

.closeButton {
  position: fixed;
  right: 15px;
  z-index: 10;
  background: rgba(71, 123, 236, 0.9);
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  border-radius: 50px;
  border: none;
  height: 50px;
  width: 50px;
  margin: 20px;
  cursor: pointer;
  padding-bottom: 7px;
  padding-left: 7px;
}
.closeButton:hover {
  background: rgba(92, 143, 252, 0.9);
}

@media screen and (max-width: 762px) {
  .infoContainer {
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  .imageFocusContainer {
    overflow: scroll;
  }
  .imageContainer {
    width: 100%;
  }
  .imageAuthor {
    font-size: 30px;
  }
  .leftContainer {
    width: 90%;
    padding: 5px 20px;
  }
  .rightContainer {
    width: 90%;
    margin-top: 50px;
  }
  .imageTitle {
    font-size: 22px;
  }
  .votesContainer {
    display: flex;
    margin-top: 20px;
  }
  .thumbsDown {
    margin-top: 0px;
  }
  .votes {
    font-size: 20px;
  }
  .votesRow {
    width: 50%;
  }
  .awardIcon {
    width: 20px;
    height: 20px;
  }
}
